.TableWidget .MuiTableCell-root {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 12px;
    border: solid 1px #f0f0f0;
}

.TableWidget .MuiTableCell-root.selectedRow {
    background-color: #b5d1ff;
}