.HomeSection {
    /* background-color: rgb(243, 239, 239); */
    padding-top: 8px;
    margin-bottom: 0px;
    /* box-shadow: 4px -4px 5px #CCC; */
}

.IntroSection {
    color: black
}

.SignInSection {
    color: gray
}

/* .ChannelsSection {
    color: darkgreen
} */

/* .WorkspaceSection {
    color: darkblue
} */
.HomeSection .Hyperlink {
    font-style: italic;
    color: gray;
}