To add a workspace, run the following Python script on the computer where the backend service is running:

```python
import {{ projectName }}
import labbox_ephys as le

# replace "new-workspace" with the name of the new workspace
new_workspace_name = 'new-workspace'

workspace_list = {{ projectName }}.WorkspaceList(list_name='default')
new_workspace = le.create_workspace()
workspace_list.add_workspace(name=new_workspace_name, workspace=new_workspace)
```