[metadata]
name = {{ projectName }}
version = {{ projectVersion }}
author = {{ projectAuthor }}
author_email = {{ projectAuthorEmail }}
description = {{ projectDescription }}
url = {{ projectUrl }}
project_urls =
    Bug Tracker = {{ projectBugTrackerUrl }}
classifiers =
    Programming Language :: Python :: 3
    License :: OSI Approved :: Apache Software License
    Operating System :: OS Independent